.bleuMarinFond {
    background-color: #052445;
}

.bleuMarinSecondaireFond {
    background-color: #1C3755;
}

.bleuMoyenFond {
    background-color: #5A708A;
}

.justifyText {
    text-align: justify;
}

.transpositionImage {
    transform: scaleX(-1);
}

html, body, div#app {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

div#app {
    display: grid;
}

footer {
    flex: none;
}


main {
    /* margin: 0;
    flex: auto;*/
    padding-top: 10rem;
}
